= render partial: 'dispatch/modal'

= render partial: 'dispatch/nav'

/ .disp-server-status
/   Connecting

.row
  .col-md-7

    %table.table.admin{id: 'conversations-unassigned', class: 'conversations-table'}
      %thead
        %tr
          %th{colspan: 5}
            %h4.dispatch-filters
              Needs a ride
              = link_to 'All', '#', 'data-statuses': 'help_needed waiting_assignment assignment_overdue scheduled', class: 'btn-conv-filter'
              = link_to 'New', '#', 'data-statuses': 'help_needed waiting_assignment', class: 'btn-conv-filter'
              = link_to 'Overdue', '#', 'data-statuses': 'assignment_overdue', class: 'btn-conv-filter'
              = link_to 'Scheduled', '#', 'data-statuses': 'scheduled', class: 'btn-conv-filter'


    %table.table.admin{id: 'conversations-assigned', class: 'conversations-table'}
      %thead
        %tr
          %th{colspan: 5}
            %h4.dispatch-filters
              Has a driver assigned
              = link_to 'All', '#', 'data-statuses': 'waiting_pickup pickup_overdue completion_overdue driving', class: 'btn-conv-filter'
              = link_to 'Assigned', '#', 'data-statuses': 'waiting_pickup', class: 'btn-conv-filter'
              = link_to 'Overdue', '#', 'data-statuses': 'pickup_overdue completion_overdue', class: 'btn-conv-filter'
              = link_to 'Driving', '#', 'data-statuses': 'driving', class: 'btn-conv-filter'

    %table.table.admin{id: 'conversations-inactive', class: 'conversations-table'}
      %thead
        %tr
          %th{colspan: 5}
            %h4
              Inactive

  .col-md-5{style: 'margin-top: 15px;'}
    #dispatch-map

    .pull-left{style: 'width: 100px; font-weight: bold;'}
      = link_to 'Map key', '#', onclick: "$('.key').toggle(); return false;"
    .pull-left
      %table.key{style: 'display: none; margin-bottom: 30px;;'}
        %tr
          %td.key-pin-cell= image_tag "rider-overdue-assignment.png", class: 'key-pin-img'
          %td.key-label     Voter overdue assign.
          %td.key-pin-cell= image_tag "driver-waiting-assignment.png", class: 'key-pin-img'
          %td.key-label     Driver waiting assign.

        %tr
          %td.key-pin-cell= image_tag "rider-overdue-pickup.png", class: 'key-pin-img'
          %td.key-label     Voter overdue pickup
          %td.key-pin-cell= image_tag "driver-driving.png", class: 'key-pin-img'
          %td.key-label     Driver assigned

        %tr
          %td.key-pin-cell= image_tag "rider-overdue-pickup.png", class: 'key-pin-img'
          %td.key-label     Voter awaiting pickup
          %td.key-pin-cell= image_tag "driver-driving.png", class: 'key-pin-img'
          %td.key-label     Driver driving

        %tr
          %td.key-pin-cell= image_tag "rider-waiting-assignment.png", class: 'key-pin-img'
          %td.key-label     Voter awaiting assign.
          %td.key-pin-cell
          %td.key-label


:javascript

  #{render partial: 'dispatch/init.js'}

  function refreshStatuses() {
    if (dispatchController !== undefined)
      dispatchController.refreshStatuses();
  }

  jQuery(document).ready(function($) {
    jQuery.timeago.settings.allowFuture = true;
    $(document).on("click", '.clickable', function(event) {
      $(".modal-body").modal();
      dispatchController.loadRidePane($(this).data("cid"));
      dispatchController.loadConversationMessages($(this).data("cid"));
    });

    $('.btn-conv-filter').click(function(event) {
      var $table = $(this).closest('.conversations-table');
      event.preventDefault();
      dispatchController.showConversationsWithStatuses($(this).data('statuses'), $table);
      $table.find(".btn-conv-filter" ).css( { color: "#16a085", "font-weight": "normal"} );
      $(this).css( { color: "#000", "font-weight": "bold" } );
    });

    $("#conversations").on( "mouseenter", "td.ride-icon", function() {
      dispatchController.animateRide($(this).data('ride-id'));
    });

    $("#conversations").on( "mouseleave", "td.ride-icon", function() {
      dispatchController.unanimateRide($(this).data('ride-id'));
    });

    // something's fucked with bootstrap, so make sure we clean up half-closed modals ourselves
    $('#conv-modal').on('hidden.bs.modal', function () {
      $('body').removeClass('modal-open');
      $('.modal-backdrop').remove();
    });

    setInterval(refreshStatuses, 30000);
  });
